<form class="form-inline" method="post" action="/">
  <div class="form-group row">
    <div class="col-xs-4">
        <label for="codigo" class="sr-only">Codigo</label>
        <input type="text" class="form-control input-sm" name="codigo" id="codigo">
    </div>
    <div class="col-xs-2">
    <button type="submit" class="btn btn-primary mb-2">Checar</button>
    </div>
  </div>
</form>